<phpunit
	bootstrap="phpunit-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
	</php>

	<testsuites>
		<testsuite name="Plugin Directory">
			<directory suffix=".php">
				./public_html/wp-content/plugins/plugin-directory/tests/phpunit/tests/
			</directory>
		</testsuite>
		<testsuite name="Five For The Future">
			<directory prefix="test-" suffix=".php">
				./public_html/wp-content/plugins/wporg-5ftf/tests/
			</directory>
		</testsuite>
		<testsuite name="Meeting Calendar">
			<directory prefix="test-" suffix=".php">
				./public_html/wp-content/plugins/wporg-meeting-calendar/tests/
			</directory>
		</testsuite>
	</testsuites>
</phpunit>
